# Archivos autogenerados por LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
_minted*
*.fls
*.fdb_latexmk

# Archivos de salida
*.pdf

# Archivos de editores y sistema
.vscode/
*.swp
*~
.DS_Store

# Archivos de Python
__pycache__/
*.pyc
venv/
.venv/
env/
.env

